header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(../../public/backgroundPic.avif);
    background-size: cover;
    background-position-x: left;
}

.intro-title {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 63px;
}

.header-logo {
    opacity: 0.7;
    border-radius: 4px;
}  

.highlighter {
    color: gold;
    -webkit-transform: rotate(90deg);
    transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}