.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(./backgroundPic.avif); */
  background-image: url(../public/backgroundPic.avif);
  /* background-size: cover; */
  background-position-x: left;
  animation: slideBackground 15s infinite;
}

.History-text {
  width: 60%;
  border: 3px solid rgba(0, 0, 255, 0.22);
  border-radius: 3px;
  padding: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes slideBackground {
  0% {
    background-position-x: right;
  }
  50% {
    background-position-x: left;
  }
  100% {
    background-position-x: right;
  }
}