h2 {
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    padding-top: 40px;
    text-decoration: underline;
    text-decoration-color: #433c43;
    padding-bottom: 5px;
    font-family: 'Lato', sans-serif;
}
.card {
    margin: 18px;
}

#uniqueMargin {
    margin-bottom: 0px;
}

.titleTextContainer {
    min-width: 54%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1%;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid rgba(0, 0, 0, 0.315) 1px;
    padding: 8px;
    border-radius: 4px;
    width: 96%;
}

.card-title {
    font-weight: bolder;
    padding: 9px;
    text-align: center;
    background: rgb(218,217,231);
    background: linear-gradient(90deg, rgba(218,217,231,0.9570027840237657) 0%, rgba(200,200,227,1) 25%, rgba(246,250,251,0.18473387646074055) 100%);
    border-radius: 3px;
    width: 40%;
    font-family: 'Lato', sans-serif;

}
.menuContainer {
    background-image: url(../public/backgroundPic.avif);
    background-size: 2000px 2000px;
    background-position-x: right;
    animation: slideBackground 15s infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card-text {
    width: 89%;
    line-height: 1.5;
}

.card-img {
    width: 338px;
    height: 230px;
    border-radius: 3px;
}

@media (max-width: 380px) {
    .card-img {
        width: 100%;
    }

    .menuContainer {
        padding: 9px;
    }

    .card-body {
        flex-direction: column;
    }

    .card-title {
        width: 91%;
    }
}

@media (max-width: 516px) {
    .card-img {
        width: 96%;
    }
}

@media (max-width: 784px) {
    .card-body {
        flex-direction: column;
        padding: 6px;
    }

    .titleTextContainer {
        margin-top: 15px;
        width: 76%;
        justify-content: center;
    }

    .card-img {
        width: 77%;
    }
}

@media (min-width: 784px) {
    .card-body {
        flex-direction: column;
    }

    .titleTextContainer {
        width: 78%;
        justify-content: center;
        /* padding: 45px 15px 15px; */
    }

    .card-img {
        width: 73%
    }
}

@media (min-width: 1063px) {
    .card-body {
        flex-direction: column;
    }

    .card {
        width: 91%;
    }

    .card-title {
        width: 87%;
    }

    .titleTextContainer {
        padding: 30px;
    }
}