.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    /* background-color: #3d73a8; */
    background-image: url(../public/backgroundPic.avif);
    background-size: cover;
    border-right: 1px solid #dee2e6;
    padding: 88px 15px 0 30px;
    max-height: 100vh;
}

.flex-column {
    height: 61%;
    margin-top: 11%;
}

.nav-link {
    display: block;
    padding: 10px;
    margin-bottom: 9%;
}

.nav-link:hover {
    background-image: linear-gradient(90deg, rgba(218,217,231,0.9570027840237657) 0%, rgba(200,200,227,1) 25%, rgba(246,250,251,0.18473387646074055) 100%);
    border-radius: 3px;
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #f8f9fa;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #dee2e6;
    border-radius: 4px;
}

.sidebar a {
    font-size: 18px;
    color: #212529;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
}

.sidebar a:hover {
    color: #090c39;
}

@media screen and (max-height: 533px) {
    .flex-column {
        margin-top: 0;
    }
}